<th><%= I18n.t("conversion.conversion_category.app.option.judging")%></th>
<td colspan="4"><label>
  <%= f.check_box :judging, class: "prevent_change" %><%= I18n.t("conversion.conversion_category.app.option.configure")%>
</label></td>
