<th><%= f.label I18n.t("conversion.conversion_category.app.app_id.label") %><br /><%= f.label t("conversion.conversion_category.app.app_id.facebook") %></th>
<td colspan="4"><br />
  <%= f.text_field :facebook_app_id, maxlength: 19 %>
</td>
