<th><%= I18n.t("conversion.conversion_category.app.option.label")%><br /><%= I18n.t("conversion.conversion_category.app.option.judging")%></th>
  <td colspan="4"><label>
    <br /><%= f.check_box :judging %><%= I18n.t("conversion.conversion_category.app.option.configure")%>
  </label></td>