<!-- 組み合わせ選択 -->
<tbody>
  <tr>
    <th><%= f.label "パターン：" %></th>
    <td>
      <input type="text" name="category" id="category" value="成果設定1" />
      <ul id="categorymenu" class="mcdropdown_menu">
        <li rel="1">CV1アプリダウンロード
          <ul>
            <li rel="2">CV</li>
            <li rel="5">CV（初回）</li>
            <li rel="6">CV（リピート）</li>
          </ul>
        </li>
        <li rel="1">CV2式場予約（APP）
          <ul>
            <li rel="2">CV</li>
            <li rel="5">CV（初回）</li>
            <li rel="6">CV（リピート）</li>
          </ul>
        </li>
        <li rel="1">CV3式場予約（WEB）
          <ul>
            <li rel="2">CV</li>
            <li rel="5">CV（初回）</li>
            <li rel="6">CV（リピート）</li>
          </ul>
        </li>
        <li rel="1">CV4資料請求（WEB）
          <ul>
            <li rel="2">CV</li>
            <li rel="5">CV（初回）</li>
            <li rel="6">CV（リピート）</li>
          </ul>
        </li>
      </ul>
    </td>
    <td><select  class="ta-c mcdropdown_spacing">
      <option>&nbsp;</option>
      <option>+</option>
      <option>−</option>
      <option>×</option>
      <option>÷</option>
    </select></td>
    <td>
      <input type="text" name="category" id="category2" value="成果設定2" />
      <ul id="categorymenu2" class="mcdropdown_menu">
        <li rel="1">CV1アプリダウンロード
          <ul>
            <li rel="2">CV</li>
            <li rel="5">CV（初回）</li>
            <li rel="6">CV（リピート）</li>
          </ul>
        </li>
        <li rel="1">CV2式場予約（APP）
          <ul>
            <li rel="2">CV</li>
            <li rel="5">CV（初回）</li>
            <li rel="6">CV（リピート）</li>
          </ul>
        </li>
        <li rel="1">CV3式場予約（WEB）
          <ul>
            <li rel="2">CV</li>
            <li rel="5">CV（初回）</li>
            <li rel="6">CV（リピート）</li>
          </ul>
        </li>
        <li rel="1">CV4資料請求（WEB）
          <ul>
            <li rel="2">CV</li>
            <li rel="5">CV（初回）</li>
            <li rel="6">CV（リピート）</li>
          </ul>
        </li>
      </ul>
    </td>
    <td></td>
  </tr>
</tbody>
