<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    ※本メールは自動配信のため、ご返信頂くことが出来ませんのでご了承下さい
<br/>
<br/>
<%= @user['username'] %> 様   
<br/>
Polarisのパスワードの発行が完了致しました。
下記にてご案内致します。
<br/>
<br/>
▼ログインURL
<%= signin_url %>
<br/>
▼パスワード
<%= @password %>
<br/>
<br/>
※本メールに心当たりの無い場合、誠にお手数ですが破棄して頂きますようお願い致します。
<br/>
<br/>
<br/>
ご不明点や、ご意見などございましたら、以下のメールアドレスよりお気軽にご連絡ください。
<ポラリスメールアドレス>
<br/>
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
SEPTENI CO.,LTD / 株式会社セプテーニ
www.septeni.co.jp/
  </body>
</html>
