<h1>Listing users</h1>
<%= link_to 'New User', new_user_path %>
<table id="flex1" style="display:none"></table>
<script type="text/javascript">
	$("#flex1").flexigrid({
		url: "<%= get_users_list_users_path %>",
		dataType: 'json',
		colModel : [
    {display: '', name : 'link', width : 20, sortable : false, align: 'center'},
    {display: 'Romanji Name', name : 'roman_name', width : 200, sortable : false, align: 'center'},
	  {display: 'User Name', name : 'username', width : 200, sortable : false, align: 'center'},
    {display: 'email', name : 'email', width : 200, sortable : false, align: 'left'},
    {display: 'Company', name : 'company', width : 200, sortable : false, align: 'left'},
    {display: 'Role', name : 'role_id', width : 100, sortable : false, align: 'left'},
			],
		usepager: true,
		title: 'Users',
		useRp: true,
		rp: 10,
		showTableToggleBtn: true,
		width: 900,
		height: 300
	});
</script>
