<% if @error == I18n.t("client.flash_messages.success") %>
	<% flash[:error] = @error %>
	location.href = "<%= clients_path(client_id: @client.id) %>";
<% else %>
	prevent_change = "1"
	$("#client_info").html("<%=j render 'client_info_form'%>");
	$("#user_list_form").html(user_list_html);
	$("#tags").autocomplete({
            source: list_user,
            select: function (event, ui) {
            	prevent_change = "1";
                $("#tags").val("");
                list_user.splice(list_user.indexOf(ui.item), 1);
                data = ui.item;
                $("#user_list").append("<tr><th>" + data.label + "(" + data.company + ")</th>" + "<td>" + data.email + "</td><td>" + data.role
                        + "</td><td><input type = 'hidden' name='users_id[]' value ='" + data.value +
                        "'><input type = 'checkbox' name='del_user_" + data.value + "'></td></tr>");
                $('#delete_label').css("display", "block");
                user_list_html = $("#user_list_form").html();
                $(this).blur();
                return false;
            },
            minLength: 0,
            focus: function (e, ui) {
                e.preventDefault();
                this.value = ui.item.label;
            }
        }).focus(function (event) {
                    $(this).autocomplete("search");
                });
<% end %>
