<h1>Listing clients</h1>
<%= link_to 'New Client', new_client_path %>
<table id="paging" style="display:none"></table>
<script type="text/javascript">
	$("#paging").flexigrid({
		url: "<%= get_promotions_list_clients_path %>",
		dataType: 'json',
		colModel : [
			{display: 'promotion_name', name : 'promotion_name', width : 700, sortable : false, align: 'center'}
			],
	    sortname: "promotion_name",
        sortorder: "desc",
		usepager: true,
		title: 'Promotion Name',
		useRp: true,
		rp: 15,
		showTableToggleBtn: true,
		width: 700,
		height: 200
	});
</script>