<div id="download">
  <ul class="entrydate_box">
  <% if @jobs %>
      <% @jobs.each_with_index do |job| %>

            <li>
              <table class="entrydate_table">
                <tr>
                  <td class="file_name"><%= job.filename %></td>
                  <td class="capacity"><%= job.size %></td>
                  <td class="daily"><%= job.created_at %></td>
                  <td class="c_black">完了</td>
                </tr>
                <tr>
                  <td colspan="4"> リクルート(ゼクシィ) > 本体プロモーション > Google Network / Google リマーケティング</td>
                </tr>
              </table>
              <p class="btn_download"><a href="/background_jobs/download_file?id=<%= job.id %>"><img src="/assets/btn_download.gif"/></a></p>
            </li>

      <% end %>
  <% end %>
  </ul>
</div>