@charset "UTF-8";
/* CSS Document */


/* ==========================================================================
   account/account_edit.html  [全体可変]
   ========================================================================== */

#wrapper{
	margin: 0 auto;
	width: 100%;
}

#container{
	width: 95%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#contents{
	position: relative;
	margin: 0 40px 0 310px;
	border-left: 2px solid #c1c1c1;
	min-height:500px;
}

#inner{
	padding: 20px 0 20px 15px;
}


#account_form{
	margin: auto;
	width: 635px;
	height: 580px;
	margin-top: 30px;
}

form{
	margin: auto;
	margin-top: 10px;
	width: 635px;
	min-height: 470px;
	background-color: #f1f1f1;
	border: 1px solid #b6b6b6;
}

table{
	font-size: 16px;
	font-weight: bold;
	margin: 30px auto 0 auto;
	width: 500px;
}

table tr{
	height: 45px;
}

table th{
	font-weight: bold;
	width:240px;
	text-align:right;
}

table td{
	margin: 0 0 0 10px;
	padding-left: 5px;
	width:160px;
}

table td .input-text{
	width:285px;
	font-weight:normal;
}

table td .input-select{
	width: 320px;
	font-weight: normal;
}

table td input{
	padding: 0 0 0 5px;
	font-weight: normal;
}
table td .multiply{
	font-weight: normal;
	width: 100px;
}

.submit_area{
	margin: auto;
	width: 380px;
	margin-top: 15px;
}

.submit_area p{
	display:inline;
	/*margin: 20px;*/
}
.submit_area p img:hover{
	opacity:0.7;
}

#id{
	color: #9d9d9d;
}

#pw{
	color: #9d9d9d;
}
#id:focus {
	color: #333;
}

disabled{
	color: #999;
}

input .multiply{
	width: 100px;
}