<div id="container" style="height: 120px; min-width: 600px"></div>
<%= high_chart("container", @chart) %>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />