<div id="cautionBox">
  <p class="del_message" style="margin-top:20px;">【注意】下記のクライアントを削除しようとしています。<br />
    このまま削除した場合、このクライアントに関連付けられた全ての<br />
    データが失われる可能性があります。よろしいでしょうか？</p>

  <p class="clientName">リクルート(ゼクシィ)様</p>

  <div class="submit_area">
    <input type="image" src="../images/btn_cancel.gif" id="btn_cancel"/>
    <p><a href="index.html"><img src="../images/btn_del.gif" alt="削除"  align="right"/></a></p>
  </div>
</div>