<div id="popup_prevent">
<script type="text/javascript">
$(function(){
	$("#cancel_change").click(function(){
		$('#prevent_change').colorbox.close();
	});
    $("a").click(function(event){
        event.preventDefault();
	$.colorbox({inline:true, width:"425", height:"330",
		href: "#prevent_change"
	})
    });
})
</script>
<div style="display: none">
	<div id='prevent_change' style='padding:10px; background:#fff;'>
		<div>You will lose all your changes. Are you sure? </div>
		<button id="change">ok</button>
		<button id="cancel_change">Cancel</button>
	</div>
</div>
</div>